nav {
  background-color: #333;
}

body {
  background-color: transparent;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-link + .nav-link {
  margin-left: 1rem;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.hover14 figure {
  position: relative;
}
.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.hover14 figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

model-viewer {
  width: 100%;
  height: 400px;
}

.model-viewer_seedarBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  background-color: rgba(0, 0, 0, 0);
  background-color: #f6f6f6;
  height: 30px;
  width: 103px;
  position: absolute;
  bottom: 5px;
  right: 55px;
  -webkit-transform: translate(50%);
  transform: translate(50%);
  padding: 0;
  color: #fff;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.model-viewer_seedarBtn:focus { outline: none; }
.model-viewer_seedarBtn:hover { background-color: #24a46d; }

.model-viewer_seedar_title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 0;
  font-size: medium;
  color: inherit;
}

.model-viewer_watermark {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0;
  color: #fff;
  border-radius: 50%;
}
.model-viewer_watermark_image {
  width: 100%;
  height: 100%;
}
